* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
  width: 1440px;
  height: 715px;
  top: 900px;
  gap: 0px;
  opacity: 0px;
  background: black;
  color: aliceblue;
}

section {
  display: grid;
  grid-template-columns: 416px 416px 416px;
  grid-template-rows: 25px 132px 300px;
  padding-top: 120px;
  padding-left: 72px;
  gap: 24px;
}

/* section > div {
  border: 2px solid red;
} */

.gridContainer1,
.gridContainer2,
.gridContainer3 {
  display: grid;
  height: 350px;
  grid-template-columns: 368px;
  grid-template-rows: 141px 36px 72px;
}

.exp {
  grid-column: span 3;
}

.workexp {
  text-transform: uppercase;
  color: rgba(132, 145, 160, 1);
  grid-row: span 2;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.header {
  grid-column: span 2;
}

h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 55px;
  font-weight: 700;
  line-height: 66.17px;
  text-align: left;
  width: 690px;
}

.number {
  color: rgba(132, 145, 160, 1);
  font-size: 117px;
  font-weight: 400;
  line-height: 140.77px;
  text-align: left;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  padding: 0;
}

.word1 {
  color: rgba(60, 199, 78, 1);
}

.word2 {
  color: rgba(96, 155, 255, 1);
}

.word3 {
  color: rgba(233, 93, 144, 1);
}

.text {
  color: rgba(132, 145, 160, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 22px;
  width: 368px;
}

@media (max-width: 800px) {
  section {
    display: grid;
    grid-template-columns: repeat(3, 214px);
    grid-template-rows: 25px 132px 400px;
    padding-top: 120px;
    padding-left: 40px;
    gap: 24px;
  }
  h2 {
    width: 688px;
  }

  .gridContainer1,
  .gridContainer2,
  .gridContainer3 {
    display: grid;
    height: 369px;
    grid-template-columns: 213px;
    grid-template-rows: 141px 108px 120px;
  }
  .title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    padding: 0;
    width: 197px;
  }
  .text {
    color: rgba(132, 145, 160, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 22px;
    width: 197px;
  }
}
@media (max-width: 400px) {
  section {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 20px;
    width: 360px;
  }

  h2 {
    width: 320px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.5px;
    text-align: left;
  }

  .gridContainer1,
  .gridContainer2,
  .gridContainer3 {
    display: grid;
    height: 369px;
    grid-template-columns: 213px;
    grid-template-rows: 141px 72px 72px;
  }
  .title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    width: 320px;
  }
  .text {
    color: rgba(132, 145, 160, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 320px;
  }
}
