div {
  /* Все div элементы должны быть строчно-блочными */
  display: inline-block;
  /* Расстояние между этими элементами должно быть 30px */
  margin: 30px;
  /* Задайте блокам серую обводку толщиной 5px */
  border: 5px solid grey;
  /* Внутренние отступы блока сделайте равными 50px по горизонтали и 40px по вертикали */
  padding: 40px 50px;
  /* Ширина и высота блока должна составлять 180px с учётом обводки */
  width: 180px;
  height: 180px;
}

/* 7-й блок должен быть смещён относительно своего положения вверх на 20px */
div.b7 {
  position: relative;
  top: -20px;
}

/* 3-й блок должен находиться в правом верхнем углу страницы */

div.b3 {
  position: absolute;
  top: 0;
  right: 0;
}
/* 5-й блок должен фиксироваться на экране при скролле */

div.b5 {
position: fixed;
}

