* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  img {
    object-fit: cover;
  }
}
.gridContainer > div {
  border: 2px solid green;
  /* height: 100px; */
  /* min-height: 200px; */
  background-color: aliceblue;
}
.gridContainer {
  display: grid;
  flex-wrap: wrap;
  height: 800px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit);
  /* grid-template-columns: 100px 30% 20rem 1fr; */

  /* grid-template-rows: 100px 200px 300px; */

  /* grid-template-areas:
      "q q a2 a2"
      "a8 a5 a5 a3"
      "a7 a5 a5 a3"
      "a6 a6 a4 a4"; */
  grid-template:
    "1 2 3 4" 200px
    "5 6 7 8" 200px
    "9 10 11 12" 200px
    "13 14 15 16" 200px/ 200px 200px 200px 200px;
  /* justify-items: end; */
  /* align-items: center; */
}
.gridElement1 {
  grid-column: span 2;
}
.gridElement3 {
  grid-row: span 2;
  object-position: left;
}
.gridElement5 {
  grid-column: span 2;
  grid-row: span 2;
}
.gridElement6 {
  grid-row: span 2;
}
.gridElement7 {
  object-position: bottom;
}
.gridElement8 {
  grid-column: span 3;
}

/* .gridElements3 {
      align-self: flex-end;
      justify-self: left; */
/* .gridElement8 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .gridElement4 {
    grid-column: 3/4;
    grid-row: 4/5;
  } */
